.lista{
    text-decoration: none;
    color: whitesmoke;
    height: 40px;
    font-size: 18px;
}

ul {
    padding:0;
    list-style-type: none;
}

.linha2{
    height: 0px;
    border-bottom: 1px solid whitesmoke;
    width:50%;
}
.fs-35{
    font-size: 25px;
}
.fs-40{
    font-size: 40px;
}