.corpo{
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  
}

.header-css{
  width: auto;
}
.header-css h1{
  color: whitesmoke;
  font-weight: 400;
  font-size: 60px;
}
.wh{
  color: whitesmoke;
}
.linha1{
  border-top: 1px solid whitesmoke;
  width:70%
}